.width {
    max-width: 768px;
    
}

.btn:hover { outline: 0 !important }

.btn:focus {
    outline: none;
  }

.btn-block {
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 400px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    text-shadow:  -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#buttonOne {
    color: white;
}
.container-fluid {
    /* background-size: cover; */
    opacity: 1;
    z-index: 50;

}
p {
    color: white;
}
.dem {
    max-width:800px;
    background-color: rgb(36, 36, 36);
    /* opacity: 0.2; */
    z-index: 1;
    margin-top: 10%;
}

.dropdownContent {
    padding: 0 18px;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    border-radius: 5px;
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

@media (max-width: 258px) {
    .container-fluid {font-size: 16px;}
}

@media (max-width: 400px) {
    .btn-block {font-size: 20px;}
}
