.width {
    max-width: 768px;
    
}

.btn:hover { outline: 0 !important }

.btn:focus {
    outline: none;
  }

.btn-block {
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 400px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    text-shadow:  -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#buttonOne {
    color: white;
}
.container-fluid {
    /* background-size: cover; */
    opacity: 1;
    z-index: 50;

}
p {
    color: white;
}
.dem {
    max-width:800px;
    background-color: rgb(36, 36, 36);
    /* opacity: 0.2; */
    z-index: 1;
    margin-top: 10%;
}

.dropdownContent {
    padding: 0 18px;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

@media (max-width: 258px) {
    .container-fluid {font-size: 16px;}
}

@media (max-width: 400px) {
    .btn-block {font-size: 20px;}
}
